<h1>{{title}}</h1>
<p>Welcome  {{user.name}}</p>
<hr>
<div class="row"> 
    <div class="col-md-3 alert-success">
        <h1> PROJECTS </h1>
        <P>10</P>
        <a href="/projects"> viewall </a> 
    </div>
    <div class="col-md-3 alert-info">
        <h1> BLOGPOSTS </h1>
        <P>20</P>
        <a href="/blogposts" > viewall </a> 
    </div>
    <div class="col-md-3 alert-dark">
        <h1> CONTACTS </h1>
        <P>10</P>
        <a href="/contacts"> viewall </a> 
    </div>
    <div class="col-md-3 alert-danger" >
        <h1> SUBSCRIBERS </h1>
        <P>100</P>
        <a href="/subscribers"> viewall </a> 
    </div>
</div>